/* .CompanyCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}


.CompanyList-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
} */

.CompanyCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 60%;
}

.CompanyList-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
